<div class="p-col">
  <p-card
    header="Advanced Card" subheader="Subheader"
    styleClass="ui-card-shadow" [style]="{ width: '260px' }">
    <p-header (click)="op2.show($event)">
      <img src="Card" [style]="{ width: '160px' }" src="https://s3.amazonaws.com/techstorega-images/Celulares/HuaweiP10_400.png" />
    </p-header>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
      consequuntur error repudiandae numquam deserunt quisquam.
    </div>
    <p-footer>
      <button
        pButton type="button"
        label="Agregar a Carrito" icon="pi pi-tags">
      </button>
    </p-footer>
  </p-card>
</div>
<p-overlayPanel [style]="{ width: '400px' , top : '2%' }" #op2 [showCloseIcon]="true" [dismissable]="false">
    <img src="https://s3.amazonaws.com/techstorega-images/Celulares/HuaweiP10_400.png" alt="Galleria 1" />
</p-overlayPanel>
