<div class="container">
  <div class="p-grid p-justify-center p-align-center">
    <div class="p-col-10 fieldEspacio">
      <p-fieldset legend="Detalle del Pedido" [collapsed]="productosSeleccionados" [toggleable]="true">
       
        <p-card *ngIf="productosSeleccionados; else tablaPedidos">
            No se ha seleccionado ningun producto
        </p-card>
        <ng-template #tablaPedidos>
          <pedidos-seleccionados></pedidos-seleccionados>
        </ng-template>
      </p-fieldset>
      <p-fieldset legend="Informacion del cliente" [collapsed]="false" [toggleable]="true">
          <h3 class="first">Completar La información para envio</h3>
          <div class="ui-g ui-fluid">
              <div class="p-col-1">
              </div>
              <div class="p-col-10">
                  <formulario-usuario></formulario-usuario>
              </div>
              <div class="p-col-1">
              </div>
          </div>        
      </p-fieldset>
    </div>
  </div>
</div>
